/* Global Styles */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}
.email-input-group {
  margin-bottom: 15px;
  text-align: left;
  width: 95%;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding-right: 40px; /* Space for the eye icon */
}

.eye-icon {
  position: absolute;
  margin-left: 375px;
  cursor: pointer;
  color: #333;
}

.eye-icon:hover {
  color: #f1c40f;
}
